#root {
  max-width: 1280px;
  margin: 0 auto;
}

.app {
  display: flex;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}